body {background-color: blanchedalmond;}
.titular { color:red;
          position: sticky;top: 10px;text-align: center;z-index: 1;}
#titulos {color: brown;}
#relativa {
    position:
    relative;
    left: 650px}
#mapa { position: relative;}
#fixed {
        position:
        fixed;
        right: 1vw;
        bottom: 1vw
}
#texto {color: brown;}

body { overflow: scroll;}
